.time-container{
    font-weight: lighter;
}
.time-container div:nth-child(1){
    float: left;
    min-width: 40px;
}
.time-container div:nth-child(2){
    float: left;
}

.vkuiSimpleCell {
    align-items: flex-start;
    padding-top: 11px;
}

.vkuiSimpleCell__main{
    padding-top: 0 !important;
}
